* {
  margin: 0;
  padding: 0;
}

/* Main Body Features */
body {
  font-family: 'Montserrat', sans-serif;
}

/* Header */
header {
  background-color: #282828;
  color: whitesmoke;
}

/* WeWork in header  */
.logo {
  font-size: 18px;
  font-weight: 700;
}

/* ul in header section */
nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 25px;
  gap: 10px
}

/* icon in header */
.icon {
  width: 25px;
}

/* header menu hamburger bar */
.align-right {
  margin-left: auto;
}

/* best coworking */
h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 30px 25px;
}

/* caption on photos */
.caption {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
  gap: 20px;
}

/* item for Exclusive */
.item {
  position: relative;
}

/* item images */
.item-img {
  width: 100%;
  display: block;
}

/* Exclusive banner */
.img-banner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #cd6858;
  color: whitesmoke;
  padding: 10px;
}

/* button styling */
button {
  border: none;
  background-color: #cd6858;
  color: whitesmoke;
  padding: 10px 15px;
  font-weight: 700;
  cursor: pointer;
  align-self: center;
}